<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 row">
                    <div class="col-sm">
                        <img class="mb-3"src="../../../content/images/logo2.png">
                    </div>
                    <div class="col-sm">
                        <h3 jhiTranslate="footer.about">About</h3>
                        <hr class="light">
                        <p jhiTranslate="footer.grenoble">Grenoble, 3800</p>
                        <p jhiTranslate="footer.terms"><a>Terms & privacy</a></p>
                        <p jhiTranslate="footer.help"><a>Help</a></p>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-sm">
                        <h3 jhiTranslate="footer.explore">Explore</h3>
                        <hr class="light">
                        <p jhiTranslate="footer.search"><a routerLink="">Search</a></p>
                        <p jhiTranslate="footer.register"><a routerLink="/account/register">Register</a></p>
                        <p jhiTranslate="footer.contact"><a routerLink="/contact">Contact Us</a></p>
                    </div>
                    <div class="col-sm">
                        <h3 jhiTranslate="footer.payments">Supported payments</h3>
                        <hr class="light">
                        <ul class="cards">
                            <li class="visa hand">Visa</li>
                            <li class="mastercard hand">MasterCard</li>
                            <li class="amex hand">Amex</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-12 pb-3 text-center">
                    <hr class="light-100">
                    <p class="mb-1">&copy; 2020-2021 Ecom BookStore</p>
                </div>
            </div>
        </div>
    </div>
</footer>