<div class="modal-body">
    <h2>
        <fa-icon icon="check" size="2x" class="text-success"></fa-icon>
        <span class="text-success " jhiTranslate="ecomBookstoreApp.customerComment.bookCommentDialog.updated">
        </span>
    </h2>
</div>

<div class="modal-footer ">

    <button (click)="cancel()" class="btn btn-success ">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="ecomBookstoreApp.customerComment.bookCommentDialog.back">Back</span>
    </button>
</div>