
<img src="https://firebasestorage.googleapis.com/v0/b/ecom-bookstore.appspot.com/o/system%2Fconfirmation.png?alt=media&token=c8d88668-7374-43d3-973c-b717290f2f2d" alt="tick">

<div class="title">
    <strong jhiTranslate="confirmation.title">Order completed successfully</strong>
</div>

<div style="text-align: center;margin-top: 13px;">
    <span jhiTranslate="confirmation.message">Thank you for ordering. We received your order and will begin processing it soon.
         Your order confirmation and download link will be sent to your email.</span>
</div>
<div class="text-center buttons mb-4">
    <a type="button" class="btn btn-secondary" routerLink="/home"><fa-icon icon="arrow-alt-circle-left"></fa-icon>&nbsp;<span jhiTranslate="confirmation.back">BACK TO STORE</span></a>
    <a type="button" class="btn btn-success" routerLink="/order-history"><fa-icon icon="shopping-bag"></fa-icon>&nbsp;<span jhiTranslate="confirmation.bag">VIEW ORDER</span></a>
</div>
